@model BooksLibrary.ViewModels.AuthorVM

@{
    ViewData["Title"] = "AuthorDetails";
}

<h1>@Model.FirstName</h1>
<h1>@Model.LastName</h1>
<h1>@Model.Country</h1>
<hr />
@foreach(var item in @Model.Books)
{
    <script type="text/javascript">
    $(function () {
       
        var book = {Id:@item.Id,Title: "@item.Title", CallNumber: "@item.CallNumber"}

        $.ajax(
            {
                type: "POST",
                url:'/authorsAjax/index',
                data: book,
                success: function (data) {   // success callback function
                    console.log('Uspešen klic');
                    console.log(data)
                    return data;
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback 
                    console.log(errorMessage);;
                }
        });

    });
    </script>
}


